[submodule "chef/chef-cookbooks"]
	path = chef/chef-cookbooks
	url = https://github.com/pli888/chef-cookbooks.git

[submodule "trellis"]
	path = trellis
	url = https://github.com/roots/trellis.git
	ignore = dirty
