
.blog-title-giga {
    font-size: 30px;
    color: #B3C100;
    font-weight: bold;
}

.blog-title-blog {
    font-size: 30px;
    color: #B3C100;
    font-weight: bold;
}

.blog-title-description-divider {
    font-size: 40px;
    color: #4CB5F5;
}

.blog-description {
    display: inline-block;
    font-size: 15px;
    color: #B7B8B6;
    vertical-align: middle;
}

.latest-posts-styling {
    font-weight: 300;
}

.top-buffer {
    margin-top:20px;
}

.sidebar-title {
    font-weight: 300;
    padding-top: 40px;
    padding-bottom: 20px;
    border-top: 3px solid #4CB5F5;
    /*border-bottom: 1px solid #e2e4e2;*/
}

.sidebar-content {
    font-weight: 300;
    /*padding-top: 10px;*/
    padding-bottom: 20px;
    /*border-bottom: 1px solid #e2e4e2;*/
}

.sidebar-author {
    font-weight: 300;
    padding-bottom: 20px;
    text-align: center;
}

.avatar {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.footer-title {
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-content {
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}