
.blog-title {
    font-size: 30px;
}

.blog-title-description-divider {
    font-size: 40px;
    color: #999;
}

.blog-description {
    display: inline-block;
    font-size: 15px;
    color: #999;
    vertical-align: middle;
}

.top-buffer {
    margin-top:20px;
}

.footer-title {
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-content {
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}