{
  "name": "aws_restore",
  "default_attributes": {
    "wordpress": {
      "db": {
        "root_password": "gigablog",
        "instance_name": "default",
        "name": "wordpressdb",
        "user": "wordpressuser",
        "password": ""
      }
    },
    "gigablog": {
      "servername": "localhost",
      "theme": "gigasci",
      "deployment": "restore",
      "sqlS3filename": "20181111_wordpressdb.sql",
      "wpS3filename": "20181111_gigablog_wp.tar.gz",
      "vagrant_dir": "/vagrant",
      "log_dir": "/var/www/wordpress",
      "url": "gigasciencejournal.com/blog",
      "gigablog_prod_url": "gigasciencejournal.com/blog",
      "admin": "",
      "admin_name": "",
      "admin_public_key": ""
    },
    "aws": {
      "aws_access_key_id": "",
      "aws_secret_access_key": "",
      "aws_default_region": "ap-southeast-1",
      "aws_security_groups": ""
    }
  },
  "iptables": {
    "iptables_sysconfig": {
      "IPTABLES_SAVE_ON_STOP": "yes"
    }
  },
  "ssh": {
    "enable_password": "no"
  },
"json_class": "Chef::Environment",
"description": "Test environment for restoring GigaBLOG onto AWS cloud instances",
"chef_type": "environment"
}