{
  "name": "development",
  "default_attributes": {
    "wordpress": {
      "db": {
        "root_password": "gigablog",
        "instance_name": "default",
        "name": "wordpressdb",
        "user": "wordpressuser"
      }
    },
    "gigablog": {
      "site_dir": "/vagrant",
      "root_dir": "/vagrant",
      "log_dir": "/vagrant/log",
      "user": "",
      "user_name": "",
      "user_public_key": "",
      "user_group": "gigablog-admin",
      "url:" "localhost:9170"
    },
    "aws": {
        "aws_access_key_id": "",
        "aws_secret_access_key": "",
        "aws_default_region": "ap-southeast-1",
        "aws_security_groups": ""
    }
  },
  "nginx": {
    "log_dir": "/var/log/nginx"
  },
  "iptables": {
    "iptables_sysconfig": {
      "IPTABLES_SAVE_ON_STOP": "yes"
    }
  },
  "ssh": {
    "enable_password": "no"
  },
"json_class": "Chef::Environment",
"description": "Test environment for deploying onto local Vagrant VMs",
"chef_type": "environment"
}