# Documentation: https://roots.io/trellis/docs/local-development-setup/
# `wordpress_sites` options: https://roots.io/trellis/docs/wordpress-sites
# Define accompanying passwords/secrets in group_vars/development/vault.yml

wordpress_sites:
  ${GIGABLOG_LOCAL_URL}:
    site_hosts:
      - canonical: ${GIGABLOG_LOCAL_URL}
        redirects:
          - www.${GIGABLOG_LOCAL_URL}
    local_path: ../site # path targeting local Bedrock site directory (relative to Ansible root)
    admin_email: ${GIGABLOG_LOCAL_ADMIN_EMAIL}
    multisite:
      enabled: false
    ssl:
      enabled: false
      provider: self-signed
    cache:
      enabled: false
